nav {
    display: none;
  }
  
  #hamburger {
    display: block;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    nav {
      display: block;
      margin: 0;
      padding: 20px;
      text-align: right;
    }
    
    nav ul {
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      display: inline-block;
      margin-left: 20px;
    }
    
    #hamburger {
      display: none;
    }
  }
  