body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c4c8c8;
    margin: 50px 30px;
}

div .informacoes h1 {
    font-size: x-large;
}

div .icon p {
    font-size: x-small;
}

#container {
    background-color: #c4c1c1;
    display: flex;
}

ul#navegacao a {
    color: #000;
    text-decoration: none;
}

div .list {
    width: 80%;
    height: 80%;
}

div .lista {
    padding: 0;
    height: auto;
    width: 50%;
    text-align: center;
    margin: 10px;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}

div .icon {
    text-align: center;
    padding-top: 10px;
}

a:hover {
    color: #c4c1c1;
    text-decoration: none;
}

img {
    border-radius: 5px;
    height: 26em;
    width: 26em;
}

div .container-foto {
    box-sizing: border-box;
    overflow: hidden;
    border: solid red 1px;
}

div .informacoes {
    margin: 20px 20px;
    text-align: center;
    flex-wrap: wrap;
}

div .informacoes i{
    color: #000;
}





