body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c4c8c8;
    margin: 50px 30px;
}

div .icon p {
    font-size: x-small;
}

#container {
    background-color: #c4c1c1;
    display: flex;
}

ul a {
    color: #000;
    text-decoration: none;
}

div .lista {
    text-align: center;
    margin: 10px;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}

div .icon {
    text-align: center;
    padding-top: 10px;
}

a:hover {
    color: #c4c1c1;
    text-decoration: none;
}

img {
    border-radius: 5px;
    height: 20em;
    width: 20em;
}

div .container-foto {
    grid-auto-rows: auto;
    box-sizing: border-box;
    overflow: hidden;
    border: solid red 1px;
}

div .informacoes {
    margin: 20px 20px;
    text-align: center;
    flex-wrap: wrap;
}

div .informacoes i{
    color: #000;
}




